{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
  <li><a href="/admin">Home</a></li>
  <li><span>内容添加</span></li>
<!--   <li class="active">Data</li> -->
</ol>

<h3>内容添加</h3>

<script src="/ckeditor/ckeditor.js"></script>

<form method="post">
 
  <div class="form-group">
    <label for="title">分类:</label>
    <select name="category" id="category" class="form-control">
    	{%for category in categories%}
    	<option value="{{category.id}}">{{category.name}}</option>
    	{%endfor%}
    </select>
  </div>
  <div class="form-group">
    <label for="title">简介:</label>
    <textarea id="title" name="title" class="form-control" rows="1" placeholder="标题"></textarea>
  </div>
  <div class="form-group">
    <label for="title">简介:</label>
    <textarea id="description" name="description" class="form-control" rows="5" placeholder="请输入内容简介"></textarea>
  </div>
  <div class="form-group">
    <label for="content">内容:</label>
    <textarea id="content" name="content" class="form-control" rows="10" placeholder="请输入内容"></textarea>
  </div>
  <textarea id="TextArea1" name="TextArea1" class="ckeditor"></textarea>
  <button type="submit" class="btn btn-default">提交</button>
</form>

{% endblock %}