main {
    width: 280px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

span.colDark{
	display:inline-block;
	width: 0px;
}
input {
	position:relative;
/*    top:30px;*/
    left:130px;
}