<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/index.js"></script>
</head>
<body>
<!-- <nav> -->
<div class="menu">
	<ul>
		{%if category == ''%}
		<li><a class="categorylink" style="color:#98bf21" href="/">主页</a></li>
		{%else%}
		<li><a class="categorylink" style="color:#FFFFFF" href="/">主页</a></li>
		{%endif%}
		{%for cate in categories%}
			{%if category == cate.id%}
			<li><a class="categorylink" style="color:#98bf21" href="/?category={{cate.id}}">{{cate.name}}</a></li>
			{%else%}
			<li><a class="categorylink" style="color:#FFFFFF" href="/?category={{cate.id}}">{{cate.name}}</a></li>
			{%endif%}
		{%endfor%}
	</ul>
</div>
<!-- </nav> -->
 
<main class="clear">
	<div class="mainLeft">
		{%for content in contents%}
		<div class="listBox">
			<h3>{{content.title}}</h1>
			<p class="colDefault">
				作者：<span class="colInfo">{{content.user.username}}</span></br>
				时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s')}}</span></br>
				阅读：<span class="colInfo">0</span></br>
				评论：<span class="colInfo">0</span></br>
			</p>
			<dfn><p>0</p></dfn>
			<div class="function"><a href="#">阅读全文</a></div>
		</div>
		{%endfor%}
		<div class="pager">
			<ul class="clear">
				<li class="previous">
					{%if page <= 1%}
						<a href="javascript:;">没有上一页</a>
					{%else%}
						<a href="/?category={{category}}&page={{page-1}}">上一页</a>
					{%endif%}
				</li>
				<li>
					{%if pages > 0%}
					<strong>{{page}} / {{pages}}</strong>
					{%endif%}
				</li>
				<li class="next">
					{%if page >= pages%}
						<a href="javascript:;">没有下一页</a>
					{%else%}
						<a href="/?category={{category}}&page={{page+1}}">下一页</a>
					{%endif%}
				</li>
			</ul>
		</div>
	</div>

	<div class="mainRight">

		{% if userInfo.id %}
		<div class="rightBox" id="userInfo">
			<div class="title"><span>user infomation</span></div>
			<p><span class="colDark username">{{userInfo.username}}</span></p>
			{% if userInfo.isAdmin %}
				<p><span class="colDanger info">you are guanliyuan, <a href="/admin">click this to manager blank</a></span></p>
			{% else %}
				<p><span class="colDanger info">you are keren, <a href="/admin">click this to manager blank</a></span></p>
			{% endif %}
			<p><span class="colDark"><a href="javascript:;" id="logout">logout</a></span></p>
		</div>
		{% else %}
		<div class="rightBox" id="loginBox">
			<div class="title"><span>login</span></div>
			<div class="line"><span class="colDark">user:</span><input name="username" type="text" /><em></em></div>
			<div class="line"><span class="colDark">password:</span><input name="password" type="password" /><em></em></div>
			<div class="line"><span class="colDark"></span><button>login</button></div>
			<p class="textRight">not register?<a href="javascript:;" class="colMint">register</a></p>
			<p class="colWarning textCenter"></p>
		</div>
		<div class="rightBox" id="registerBox" style="display: none">
			<div class="title"><span>register</span></div>
			<div class="line"><span class="colDark">user:</span><input name="username" type="text" /></div>
			<div class="line"><span class="colDark">password:</span><input name="password" type="password" /></div>
			<div class="line"><span class="colDark">queren:</span><input name="repassword" type="password" /></div>
			<div class="line"><span class="colDark"></span><button>注册</button></div>
			<p class="textRight">have account?<a href="javascript:;" class="colMint">马上登入</a></p>
			<p class="colWarning textCenter"></p>
		</div>
		{% endif %}
	</div>
</main>


</body>
</html>
